<div class="center">
  <h1>Listing articles</h1>
  <%= link_to 'New article', new_article_path, class: 'btn new' %>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>
   
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article), class: 'btn show' %></td>
      <td><%= link_to 'Edit', edit_article_path(article), class: 'btn edit' %></td>
      <td><%= link_to 'Destroy', article_path(article),class: 'btn destroy',
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
</div>