
$bg:#47495A;
/* Sizes */
$defaultWidth:80%;
$defaultPadding:20px;
$defaultFontSize:62.5%;
$h1Size:3.6em;
$aSize:1.4em;
$pSize:1.6em;
$thFontSize:2em;
/*Colors*/
$white:#fff;
/*Buttons*/
$newButtonBg:#3498db;
$showButtonBg:#2ecc71;
$editButtonBg:#e67e22;
$destroyButtonBg:#c0392b;

/* Tags */
body{background-color:$bg;font-family: 'Roboto', sans-serif;font-size:$defaultFontSize}
h1,h2,h3,h4,h5,h6,p,a,th,td {color:$white;}
h1{font-size:$h1Size;}
p{font-size:$pSize;}
a{font-size:$aSize;text-decoration:none}
table{display: block}
th {font-size:$thFontSize}
form{display:block;margin:0 auto;}
input{border:none;}
/* Id */
/* Class */
.btn {display:inline-block;margin:0 3px;padding:6px;}
.center{margin:0 auto;width:$defaultWidth;}
.new {background-color:$newButtonBg;margin:0 0 10px 0;}
.show{background-color:$showButtonBg}
.edit{background-color:$editButtonBg}
.destroy{background-color:$destroyButtonBg}